<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <!--<pattern>%date{MM/dd HH:mm:ss} %-6level[%logger{0}]: %msg%n</pattern>-->
            <pattern>%-6level[%logger{0}]: %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CapturingAppender" class="akka.actor.testkit.typed.internal.CapturingAppender"/>

    <logger name="akka.actor.testkit.typed.internal.CapturingAppenderDelegate">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="akka" level="INFO"/>
    <logger name="spray" level="INFO"/>

    <logger name="com.goticks" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <root level="DEBUG">
        <appender-ref ref="CapturingAppender"/>
    </root>
</configuration>
